<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<p class="center"><strong>Email:</strong> <%= @contact.email %></p>
<p class="center"><strong>Note:</strong></p>
<p class="center"><%= @contact.note %></p>
<p class="center"><a href="/contacts/<%= @contact.id%>/edit">Edit Contact</a></p>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <p><label></label><input type="submit" name="Delete Contact"></p>
</form>